<h1>Top page</h1>
<%= link_to "新規投稿","/posts/new" %>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %> <%# RubyコードをHtmlに埋め込む %>
    </div><%# if wach等の画面上に表示する必要のないRubyのコードは=をつけずに<% と記述する %>
    <div class="post-content">
      <%= post.content %>
    </div> 
  </div>
<% end %>
